.button {

  &--more-button,
  &--contact-button,
  &--recording-button {
    @include link-transition(500ms);
    @include ButtonText($white);
    border-radius: rem-calc(6);
    padding: rem-calc(5 10);
    display: block;
    margin: 1% auto;

    &:active,
    &:focus,
    &:hover {
      background: $orange;
      color: $white;
      border: rem-calc(2) solid $white;
    }

    &:visited {
      background: $white;
      color: $orange;
      border: rem-calc(2) solid $orange;
    }

    //TODO, remove
    &.tall-space {
      margin: 2.5% auto;
    }
  }

  &--contact-button {
    @include ButtonText($white);
    width: 250px;
    background: $blue-green;
    border: rem-calc(2) solid $blue-green;

    &:active,
    &:focus,
    &:hover {
      background: $white;
      color: $blue-green;
      border: rem-calc(2) solid $blue-green;
    }
    &:visited {
      background: $blue-green;
      color: $white;
      border: rem-calc(2) solid $blue-green;
    }

    @include breakpoint(tablet) {
      width: 225px;
    }

    @include breakpoint(mobile) {
      width: 200px;
    }

    @include breakpoint(iphone) {
      width: 200px;
    }
  }

  &--more-button {
    background: $white;
    color: $orange;
    border: 2px solid $orange;
    width: 200px;

    &:active,
    &:focus,
    &:hover {
      background: $orange;
      color: $white;
      border: 2px solid $white;
    }
    &:visited {
      background: $white;
      color: $orange;
      border: 2px solid $orange;
    }

    //TODO, remove
    &.tall-space {
      margin: 2.5% auto;
    }
  }

  &--recording-button {
    @include ButtonText($white);
    width: 250px;
    background: $blue-green;
    border: rem-calc(2) solid $blue-green;

    &:active,
    &:focus,
    &:hover {
      background: $white;
      color: $blue-green;
      border: rem-calc(2) solid $blue-green;
    }
    &:visited {
      background: $blue-green;
      color: $white;
      border: rem-calc(2) solid $blue-green;
    }

    @include breakpoint(tablet) {
      width: 225px;
    }

    @include breakpoint(mobile) {
      width: 200px;
    }

    @include breakpoint(iphone) {
      width: 200px;
    }
  }

}
