.images {

  &--collaborate-img {
    width: 400px;
    height: auto;
    border-radius: 12px;
    display: block;
    margin: 10px auto 0 auto;

    @include breakpoint(mobile){
      width: 300px;
    }

    @include breakpoint(iphone){
      width: 300px;
    }
  }

  &__collaborate-img-small {
    width: 300px;
    height: auto;
    border-radius: 12px;
    display: block;
    margin: 0 auto;

    @include breakpoint(mobile){
      width: 250px;
    }

    @include breakpoint(iphone){
      width: 250px;
    }
  }
}

.page-header {
  width: 100%;
  position: relative;
  margin-top: 0;

  &__background-poster {
    background-image: url('https://res.cloudinary.com/ninjaofawesome/image/upload/v1492131750/littlepioneer/img4.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    height: rem-calc(350);
    opacity: 0.50;
    filter: alpha(opacity=50);
  }

  &__logo-box {
    width: 99%;
    display: block;
    margin: 0 auto;
    z-index: 5;
    position: absolute;
    top: rem-calc(100);

    @include breakpoint(mobile){
      top: rem-calc(85);
    }

    @include breakpoint(iphone){
      top: rem-calc(115);
    }
  }

  &__logo-title {
     @include TitleText($orange, 10vw);

    &--hp-logo {
      @include TitleText();

      @include breakpoint(mobile){
        @include TitleText($orange, 16vw);
      }

      @include breakpoint(iphone){
        @include TitleText($orange, 16vw);
      }
    }

    &--gear-logo {
      @include TitleText();
    }
  }

  &__logo-subtitle {
    @include SubtitleText();
    margin-top: rem-calc(20);

    @include breakpoint(tablet){
      @include SubtitleTextMobile(2.5vw);
      margin-top: rem-calc(12.5);
    }

    @include breakpoint(mobile){
      @include SubtitleTextMobile(3vw);
      margin-top: rem-calc(10);
    }

    @include breakpoint(iphone){
      @include SubtitleTextMobile(1vw);
      margin-top: rem-calc(7.5);
    }

    &--established {
      @include SubtitleText($orange);

      @include breakpoint(mobile){
        @include SubtitleTextMobile(3vw);
      }

      @include breakpoint(iphone){
        @include SubtitleTextMobile(1vw);
      }
    }

    &--gear {
      margin-top: 0;
      padding-left: 5%;
      padding-right: 5%;

      @include breakpoint(desktop){
        font-size: 2.5vw;
      }

      @include breakpoint(tablet){
        font-size: 3vw;
      }
    }
  }
}

@include breakpoint(small only) {

  .page-header {

    &__background-poster {
      height: rem-calc(250);
    }

    &__logo-box {
      height: rem-calc(200);
    }
  }
}


