@mixin bg-image($type) {
  -webkit-background-size: $type;
   -moz-background-size: $type;
   -o-background-size: $type;
   background-size: $type;
}

@mixin link-transition($time){
  -webkit-transition: all $time ease-out;
  -moz-transition: all $time ease-out;
  -o-transition: all $time ease-out;
  transition: all $time ease-out;
}

//for breakpoint specific views
@mixin breakpoint($point) {
  @if $point == iphone {
    @media all and (max-width: $screen-xxs-max) { @content; }
  }
  @else if $point == mobile {
    @media all and (min-width: $screen-xs) and (max-width: $screen-xs-max) {
      @content;
    }
  }
  @else if $point == tablet {
    @media all and (min-width: $screen-sm) and (max-width: $screen-sm-max) {
      @content;
    }
  }
  @else if $point == desktop {
    @media all and (min-width: $screen-md) and (max-width: $screen-md-max) {
      @content;
    }
  }
  @else if $point == large {
    @media all and (min-width: $screen-lg) {
      @content;
    }
  }
}

//type mixins

@mixin TitleText($color: $orange, $size: 8.5vw) {
  color: $color;
  font-family: $disco;
  text-transform: uppercase;
  text-align: center;
  font-size: $size;
  line-height: calc(#{$size} * 0.785);
  font-weight: 400;
}

@mixin SubtitleText($color: $blue-green, $size: 2vw) {
  color: $color;
  font-family: $serif;
  text-transform: uppercase;
  text-align: center;
  font-size: $size;
  line-height: calc(#{$size} * 1.05);
  font-weight: 500;
}

@mixin GrayBold() {
  color: $gray;
  font-family: $serif;
  text-align: center;
  font-size: 18px;
  line-height: 19px;
  font-weight: 700;
}

@mixin SubtitleTextMobile($color: $blue-green) {
  color: $color;
  font-family: $serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  line-height: 23px;
}

@mixin ButtonText($color: $white) {
  color: $color;
  font-family: $serif;
  font-weight: 700;
  font-size: 1.25em;
  text-transform: uppercase;
  text-align: center;
}


