body,
html {
  height: 100%;
  overflow: scroll;
}

body {
  background: $white;
  color: $gray;
  font-size: 16px;
  font-family: $serif;
}


.container-fluid {

  &--no-pad {
    padding: 0;
  }
}
.no-pad {
  padding: 0;
}

.custom-navbar {
  position: fixed;
  z-index: 10;
  height: 50px;
  width: 100%;
  margin: 0;
  padding: 0;
  background: $white;
  line-height: 50px;
  vertical-align: middle;
  border-bottom: 1px solid $black;

  &__content-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 50px;
    position: absolute;
    top: 0;
    right: 25px;
  }

  &__content-list-item {
    display: inline;
    vertical-align: middle;
    text-transform: uppercase;
    padding: 0 2px;
  }

  &__logo-text {
    padding: 0 1%;
    margin: 10px 0;
    vertical-align: inherit;
    font-family: $disco;

    &--left {
      color: $orange;
    }

    &--right {
      color: $blue-green;
      margin-left: -0.5rem;
    }
  }

  &__social-media-icon {
    @include link-transition(500ms);

    font-size: 1.25em;
    color: $orange;

    &:hover,
    &:active,
    &:focus {
      color: $charcoal;
    }

    &:visited {
      color: $orange;
    }
  }
}




.body-content {
  margin: 50px 0;
}

.paragraph-box {
  width: 100%;
  height: 150px;

}

.email {
  height: 50px;
  width: 50px;
  right: 0;
  top: 0;
  position: absolute;
}

.divider {
  width: 100%;
  height: 1px;
  background: $lt-gray;
  margin: 1% 0;
}






