body,
html {
  height: 100%;
  overflow: scroll;
  margin: 0;
}

body {
  background: $white;
  color: $gray;
  font-size: 16px;
  font-family: $serif;
}


.container-fluid {

  &--navbar {
    @include flex-grid-row();

    max-width: 100%;
    padding: 0;
    margin: 0;
  }

  &--body-content {
    padding: 0;
    margin: rem-calc(50 0 0 0);
  }
}

.about-page,
.gear-page {

  &__content-container {
    @include flex-grid-row();

    max-width: 100%;
  }

  &__content-wrapper {
    @include flex-grid-column(6);
    display: flex;
    flex-direction: column;

    @include breakpoint(tablet) {
      @include flex-grid-column(12);
    }

    @include breakpoint(mobile) {
      @include flex-grid-column(12);
    }

    @include breakpoint(iphone) {
      @include flex-grid-column(12);
    }
  }

  &__content-wrapper-single {
    @include flex-grid-column(12);

    display: flex;
    flex-direction: column;
  }
}

.custom-navbar {

  position: fixed;
  z-index: 10;
  height: rem-calc(50);
  width: 100%;
  margin: 0;
  padding: 0;
  background: $white;
  line-height: rem-calc(50);
  vertical-align: middle;
  border-bottom: rem-calc(1) solid $black;

  &__content-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: rem-calc(4);
    right: rem-calc(5);
  }

  &__content-list-item {
    display: inline;
    vertical-align: middle;
    text-transform: uppercase;
    padding: rem-calc(0 2);
  }

  &__logo-link {
    width: rem-calc(50);
    height: rem-calc(50);
    position: absolute;
    top: 0;
    left: rem-calc(5);
  }

  &__logo-text {
    padding: 0 1%;
    margin: rem-calc(5 0 7);
    vertical-align: inherit;
    font-family: $disco;

    &--left {
      color: $orange;
    }

    &--right {
      color: $blue-green;
      margin-left: rem-calc(-5);
    }
  }

  &__social-media-icon {
    @include link-transition(500ms);

    font-size: 1.25em;
    color: $orange;

    &:hover,
    &:active,
    &:focus {
      color: $charcoal;
    }

    &:visited {
      color: $orange;
    }
  }
}

.recording-container {
  @include flex-grid-column(12);

  margin-top: rem-calc(20);

  @include breakpoint(mobile) {
    margin-top: rem-calc(30);
  }

  @include breakpoint(iphone) {
    margin-top: rem-calc(30);
  }

  &__title {
    @include TitleText($blue-green, 7vw);

    @include breakpoint(desktop) {
      @include TitleText($blue-green, 8vw);
    }

    @include breakpoint(tablet) {
      @include TitleText($blue-green, 8.5vw);
    }

    @include breakpoint(mobile) {
      @include TitleText($blue-green, 9vw);
    }

    @include breakpoint(iphone) {
      @include TitleText($blue-green, 9.5vw);
    }
  }
}
