.about-page {

  &__help-list {
    list-style-type: none;
    padding: 0;
    margin: rem-calc(12.5 10);
    text-align: justify;
  }

  &__title {
    @include flex-grid-column(12);
    @include TitleText($blue-green, 9vw);

    padding-top: rem-calc(10);
    padding-bottom: rem-calc(14);

    @include breakpoint(tablet) {
      @include TitleText($blue-green, 10vw);

      padding-bottom: 0;
    }

    @include breakpoint(mobile) {
      @include TitleText($blue-green, 10vw);
    }

    @include breakpoint(iphone) {
      @include TitleText($blue-green, 11vw);

      padding-bottom: 0;
    }

  }

  &__content-copy {
    margin: rem-calc(0 10);
    flex: 1;

    &--press {
      text-align: center;
      margin: rem-calc(0 10);
      flex: 1;
    }
  }

  &__copy-header {
    @include SubtitleFixed();

    text-transform: uppercase;
    text-align: center;
    margin: rem-calc(20 0 9);

    &--press {
      @include SubtitleFixed();

      text-transform: uppercase;
      text-align: center;
      margin-top: rem-calc(20);
    }

    &--services {
      @include SubtitleFixed();

      text-transform: uppercase;
      text-align: center;
      margin: rem-calc(0 0 11);

      @include breakpoint(tablet) {
        margin: rem-calc(20 0 11);
      }

      @include breakpoint(mobile) {
        margin: rem-calc(20 0 11);
      }

      @include breakpoint(iphone) {
        margin: rem-calc(20 0 11);
      }

    }
  }

}
