.gear-page {

  &__list-container {
    display: block;
    margin: 0 auto;
    width: 400px;
    height: auto;

    @include breakpoint(iphone){
      width: 320px;
    }
  }

  &__gear-list {
    list-style-type: none;
    padding: 0 5%;
    margin: 0;
  }
}
