.index-page {

  &__about-tiles-container {
    @include flex-grid-row();


    margin-top: rem-calc(20);
  }

  &__about-tiles {
    @include flex-grid-column(4);
    display: flex;
    flex-direction: column;


    @include breakpoint(mobile){
      @include flex-grid-column(12);

      margin-top: rem-calc(10);
    }

    @include breakpoint(iphone){
      @include flex-grid-column(12);

      margin-top: rem-calc(10);
    }
  }

  &__cta-title {
    color: $blue-green;
    text-transform: uppercase;
    text-align: center;
  }

  &__paragraph-box {
    flex: 1;
    margin: rem-calc(0 15);
  }
}
