.index-page {

  &__recording-cta-container {
    @include flex-grid-row();

    max-width: 100%;
    margin-top: rem-calc(20);
  }

  &__content-container {
    margin-top: rem-calc(20);
  }

  &__cta-title {
    color: $blue-green;
    text-transform: uppercase;
    text-align: center;
  }

  &__paragraph-box {
    flex: 1;
    margin: rem-calc(0 15);
  }

  &__recording-cta-tile {
    @include flex-grid-column(12);

    display: block;
    margin: rem-calc(20) auto;
    padding: rem-calc(0, 10);
  }

  &__recording-signup-tile {
    @include flex-grid-column(4);

    display: block;
    margin: rem-calc(10) auto;
    padding: rem-calc(0, 10);

    @include breakpoint(tablet) {
      @include flex-grid-column(6);
      display: block;
      margin: rem-calc(10) auto;
      padding: rem-calc(0, 10);
    }

    @include breakpoint(mobile) {
      @include flex-grid-column(10);
      display: block;
      margin: rem-calc(10) auto;
      padding: rem-calc(0, 10);
    }

    @include breakpoint(iphone) {
      @include flex-grid-column(10);
      display: block;
      margin: rem-calc(10) auto;
      padding: rem-calc(0, 10);
    }
  }


  &__recording-cta-title {
    @include TitleText($blue-green);

    @include breakpoint(mobile) {
      @include TitleText($blue-green, 12vw);
    }

    @include breakpoint(iphone) {
      @include TitleText($blue-green, 12vw);
    }
  }

  &__recording-cta-subtitle {
    @include GrayBold();
    margin: rem-calc(0 5);
  }
}
