.listen-page {

  &__content-container {
    margin-top: rem-calc(20);
  }

  &__playlist-group {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  &__playlist-group-item {
    @include flex-grid-column(6);

    display: block;
    margin: rem-calc(10) auto;
    text-align: center;
    @include TitleText($size: 3vw);

    @include breakpoint(tablet) {
      @include flex-grid-column(8);
      @include TitleText($size: 5vw);
    }

    @include breakpoint(mobile) {
      @include flex-grid-column(10);
      @include TitleText($size: 7vw);
    }

    @include breakpoint(iphone) {
      @include flex-grid-column(10);

      @include TitleText($size: 8vw);
    }

  }

  &__title {
    @include TitleText($blue-green, 9vw);

    padding-top: rem-calc(10);
    padding-bottom: rem-calc(14);

    @include breakpoint(tablet) {
      @include TitleText($blue-green, 10vw);

      padding-bottom: 0;
    }

    @include breakpoint(mobile) {
      @include TitleText($blue-green, 10vw);
    }

    @include breakpoint(iphone) {
      @include TitleText($blue-green, 11vw);

      padding-bottom: 0;
    }

  }

  &__list-title {

    padding-top: rem-calc(10);
    padding-bottom: rem-calc(14);

  }

  &__playlist-description {
    @include SubtitleTextMobile();

    @include breakpoint(mobile) {
      @include BodyText();
    }

    @include breakpoint(iphone) {
      @include BodyText();
    }
  }
}
