.listen-page {

  &__content-container {
    margin-top: rem-calc(20);
  }

  &__playlist-group {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  &__playlist-group-item {
    width: rem-calc(200);
    height: rem-calc(25);
    padding: 0;
    margin: rem-calc(2) auto;
  }

  &__title {
    @include TitleText($blue-green, 9vw);

    padding-top: rem-calc(10);
    padding-bottom: rem-calc(14);

    @include breakpoint(tablet) {
      @include TitleText($blue-green, 10vw);

      padding-bottom: 0;
    }

    @include breakpoint(mobile) {
      @include TitleText($blue-green, 10vw);
    }

    @include breakpoint(iphone) {
      @include TitleText($blue-green, 11vw);

      padding-bottom: 0;
    }

  }

  &__playlist-group-item-arrow {
    color: $orange;
    text-decoration: none;

    &:active,
    &:focus,
    &:hover,
    &:visited {
      color: $orange;
      text-decoration: none;
    }
  }

  &__music-box-title {
    @include SubtitleText($blue-green, 1.5vw);

    @include breakpoint(tablet) {
      @include SubtitleText($blue-green, 3.75vw);
    }

    @include breakpoint(mobile) {
      @include SubtitleText($blue-green, 4.5vw);
    }

    @include breakpoint(iphone) {
      @include SubtitleText($blue-green, 5.75vw);
    }
  }

  &__music-box {
    display: block;
    margin: 5% auto;
    height: 472px;

    // @include breakpoint(large){
    //   width: 97%;
    // }

    // @include breakpoint(desktop){
    //   width: 95%;
    // }

    // @include breakpoint(tablet){
    //   width: 95%;
    // }

    // @include breakpoint(mobile){

    //   width: 90%;
    // }

    // @include breakpoint(iphone){
    //   width: 90%;
    // }
  }
}
