.listen-page {

  &__playlist-group {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  &__playlist-group-item {
    width: 200px;
    height: 25px;
    padding: 0;
    margin: 2px auto;
  }

  &__playlist-group-item-arrow {
    color: $orange;
    text-decoration: none;

    &:active,
    &:focus,
    &:hover,
    &:visited {
      color: $orange;
      text-decoration: none;
    }
  }

  &__music-box {
    display: block;
    margin: 10px auto;
    height: 520px;

    @include breakpoint(large){
      width:400px;
    }
    @include breakpoint(desktop){
      width: 385px;
    }
    @include breakpoint(tablet){
      width: 375px;
    }
    @include breakpoint(mobile){
      width: 350px;
    }
    @include breakpoint(iphone){
      width: 320px;
    }
  }
}
