.testimonials-page {

  &__title {
    @include flex-grid-column(12);
    @include TitleText($blue-green, 9vw);

    padding-top: rem-calc(10);
    padding-bottom: rem-calc(14);

    @include breakpoint(tablet) {
      @include TitleText($blue-green, 10vw);

      padding-bottom: 0;
    }

    @include breakpoint(mobile) {
      @include TitleText($blue-green, 10vw);
    }

    @include breakpoint(iphone) {
      @include TitleText($blue-green, 11vw);

      padding-bottom: 0;
    }
  }
}

.artist-testimonial {
  width: 90%;
  height: auto;
  margin: 2.5% 5%;
  flex: 1;

  @include breakpoint(tablet) {
    margin: 1% 5%;
  }

  @include breakpoint(mobile) {
    margin: 0 5%;
  }

  @include breakpoint(iphone) {
    margin: 0 5%;
  }

  &__image {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    display: block;
    margin: rem-calc(10) auto;
  }

  &__name {
    @include TitleTextFixed($blue-green, 30px);
    margin: 0 auto;
  }

  &__artist-link{
    @include TitleTextFixed($orange, 18px);

    display: block;
    margin: rem-calc(5) auto 0 auto;
    text-decoration: none;
    outline: 0;

    &:active,
    &:focus,
    &:hover {
      color: $orange;
      text-decoration: none;
      outline: 0;
    }

    &:visited {
      color: $orange;
      text-decoration: none;
      outline: 0;
    }
  }

  &__testimonial-container {
    width: 90%;
    margin: 5%;
    position: relative;
  }

  &__testimonial {
    text-align: justify;
  }
}
